/* Start templet   */

.notification {
  background-color: #555;
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification:hover {
  background: red;
}

.notification .badge {
  position: absolute;
  top: -5px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}

body{
	height: 900px;
	font-family: 'Nunito';
	padding: 0px;
	background-color:#e4e4e4;
	color: #fff;
}
a{
	color: #000;
}
/* End templet   */
* {box-sizing: border-box;}
body {}
.cycle-slideshow{

max-width: 550px;
display: block;
position: relative;
overflow: hidden;

}
.cyclr-prev ,.cyclr-next{
	font-size: 400%;
	color: white;
	position: absolute;
	top:40%;
	z-index: 999;

}
.cyclr-prev{left: 50pt}
.cyclr-next{right: 50pt}
.mySlides img {
	vertical-align: middle;
	height: 500pt;
  width: 100%
}

/* Slideshow container */
.slideshow-container {
 height: 500pt;
  width: 60%
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/*Start navbar */




.nav-profile{
width: 1px;
height: 1px;


background: #404040;
size :3px;


}
.navbar li, i{

color: #fff;

}
.navbar li, i :hover{

color: #f2f2f2;

}
.drop{
color: #fff;
background: #404040;
}
.divider{
	color:#404040
	background: #404040;
}
.dropdown-menu a{
color: #fff;
}

.nav-profile img{
	size: 3px;
	width: 50px;
height: 50px;
}
.nav-profile a{
	color: #f2f2f2;
}
/*  end navbar */

/* Start Header */
.home{
	
padding: 0rem 0rem 1rem 0rem;
}
.cover{
	background: url("../cover.jpg");
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-color: #dc2b2b;
	height: 740px;


}
.cover img{
	width: 35%;
	height: 600px;
	color:#E2E2E2;
	background: transparent;
	padding: 80px  1px ;
}

.cover .arrow{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 40px 0;
	color: #f2f2f2;

	

}
.cover  .arrow i{
	border :2px solid #f2f2f2;
	border-radius: 50%;

	height: 50px;
	width: 50px;
	line-height: 50px;
	cursor: pointer;


	
}
.cover  .arrow i:hover{
	border :3px solid #f2f2f2;
	background:   #65829D;
}
.box img{
	border:4px solid #f0534c;
	width: 100%;
    height: 165px;
}
.box img:hover{
	background:rgba(0, 0, 0, 0.8);
	
}
.boxP img{

}

.container{
	color: #000;
	
}
.butAllProduct{
	
	width: 100%;
	
	padding: 0px 100px 0px 500px;
}
.butAllProduct{
	width: 150px;
	height: 190px;
	border :2px solid #fff;
	border-radius: 2px;
	color: #65829D;

}
.butAllProduct:hover{
    background: #000;
  
}
/* End Header */

/* Start row */

.features{

width: 100%;

height: 300pt;
padding: 30pt;
}
.features .row {
	margin-top: 190pt;
	width: 90pt;
	height: 90pt

	float: left;
	margin-right: 4%;
	font-size: 20px;
	padding: 60px;
	

	
}
.features .row  h3{
	}
.features .box img{
	
	border-radius: 50%;
}
.features .row  p{
	color: #fff;
	padding: 0px 0px 0px 10px;
	top: 0px;

	border-radius: 10px 4px 4px 4px;
}

.features  h3:hover{
  color:   #f2f2f2;
}

.prodact-shoping{
	cursor: pointer;
	position: absolute;
	right: 50px;
	top: 229px;
	font-size: 25px;

}
.prodact-shoping:hover{
   color:   #f2f2f2;
}
.Button{
	color: #f2f2f2;
	background-color: #000;
	border-radius: 10px;
}
/* End row */
/* Start connect */
.connect{
	width: 100%;
	height: 503px;


}
.connect .conn{
    width: 50%;
	height: 50px;
	padding: 3px 40px 4px 50px;
	border-radius: 50%;
	 margin-bottom: 8px;
	 opacity: 0,2;
}
.connect .pConn{
	width: 20%;
	height: 50px;
	padding: 3px 30px 33px 0px;
	color: #f2f2f2;
}
/* End connect */


/* Start footer */

footer {
 
  color: #f2f2f2;
}

.features{

overflow: hidden;
width: 100%;

}
.features .row {
	width: 100%;
	float: left;
	margin-right: 4%;
	font-size: 20px;
	padding: 60px;
	

	
}
.features .row  h3{
	color: #f2f2f2;
	cursor: pointer;
}
.features .box img{
	width: 100%;
	height: 203px;
	border-radius: 10px;
}
.features .row  p{
	color: #fff;
	padding: 0px 0px 0px 10px;
	top: 0px;
	position: absolute;
	
	border-radius: 10px 4px 4px 4px;
}

.features  h3:hover{
  color:   #f0534c;
}
/* End footer */
/* Start form login & signup  */

 
.limiter{
background: url("../cover.jpg");
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; 
  height: auto; 
  overflow: auto; 
  
 
  padding-top: 40px;
}
.container {
  padding: 16px;
}
.homeLogin{
		
    background-color: #000;
  margin: 10pt; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  height: 450pt;
  


  padding: 10pt;
    
    border-radius: 5pt;
	}
.homeLogin input{
	 margin: 10pt;
}
.homeLogin input[type=text,passowrd]{
  padding: 10pt;
   width: 190pt;
   padding: 10pt;

	}
	.homeLogin img{
   width: 20%;
   height: 20%;
  
   border: 3px solid;
    border-radius: 50%; 
	}
	.butHome{
		color: #000;
		background-color: #f2f2f2;
		
		margin-left: 250pt;
	}
	.imgcontainer {
    text-align: center;
    margin:14px 0 12px 0;
    font-style: italic;
   
    color: #fff;
   
}
.limiterLogin{
    background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
color: #fff;
  width: 300pt;
  height: auto;
  padding: 50pt;
       background-color: rgba(0,0,0,0.9); 
    border-radius: 20pt
	}
.asterisk::after {
content:" *"; 
color: #e32;
position: absolute; 
 margin-left :  177pt; 
margin-top: -33pt;
font-size: xx-large; 
padding: 0 0 0 0; }


.container {
  padding: 16px;
}
.limiterLogin{
    background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;

  width: 300pt;
  height: auto;
  padding: 30pt;
      background-color: rgb(5 41 76 / 59%);
    border-radius: 20pt
	}

.limiterLogin input{
   margin: 3pt
	}
	.limiterLogin img{
   width: 90pt;
   height: 90pt;
  
   border: 3px solid;
    border-radius: 50%; 
	}
	.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
   color: #fff;

}
.limiterLogin input[type=submit]{
	border: 1px solid;
	width: 200pt;
   border-radius: 10pt ;
   color: #000;
   background-color: #dedede;
	}
	.limiterLogin input[type=submit]:hover{
  
   background-color: rgb(255 255 255 / 50%);
   color:  #0a263e;
	}
	.limiterLogin a{
   color: #f2f2f2;
	}



	
.bg-black{
	background-color: #f2f2f2;
	color: #000;

}
.bg-black a{
   color: #000;
}
.bg-black h4{
   color: #000;
} 
.small{
color: #000;	
}
/* End form login & signup  */
/* start profil */
.data-profile{
	background-color: #000;
    text-align: right;
    height: 700pt;
    width:400pt;

}
.data-profile img{
	border-radius: 50%;
    width: 150pt;
    height: 150pt;
	
}
.container {
  border: 2px solid #dedede;
 
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}
/* end profile */